body {
    background: #f2f4f8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d9534f;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.upload-box {
    border: 2px dashed #888;
    padding: 40px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

.upload-box:hover {
    border-color: #d9534f;
}

.upload-box input {
    display: none;
}

.btn {
    background: #d9534f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #b52b27;
}

#previewContainer {
    display: none;
    margin-top: 20px;
}

#previewImage, .output-img {
    max-width: 80%;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

.result-box {
    margin-top: 25px;
    padding: 20px;
    background: #fafafa;
    border-radius: 10px;
}

.no-fire {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 20px;
}

.fire-detected {
    color: #b52b27;
    font-size: 22px;
    font-weight: bold;
}
