name: CI - Test & Docker Build

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
    # Checkout du code
    - name: Checkout repository
      uses: actions/checkout@v3

    # Installation de Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # Installation des dépendances
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    # Exécution des tests unitaires
    - name: Run tests
      run: |
        pytest -q

    # Build Docker
    - name: Build Docker image
      run: |
        docker build -t fire-api -f docker/Dockerfile .
