name: CI - Test & Docker Build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          pytest -q

      - name: Docker build
        run: |
          docker build -t fire-api -f docker/Dockerfile .
